In [5]:
#1.print "Hello Python"

print("Hello Phython")

Hello Phython

In [6]:
a = float(input("first number: "))
b = float(input("second number: "))

add = a + b
sub = a - b
mul = a * b
div = a / b
modulus = a % b
expo = a ** b

print("Addition: ",add)
print("Subtraction:",sub)
print("Multiplication:",mul)
print("Division:",div)
print("Modulus:",modulus)
print("Exponentiation: ",expo)

Addition:  15.0
Subtraction: -5.0
Multiplication: 50.0
Division: 0.5
Modulus: 5.0
Exponentiation:  9765625.0

In [ ]:
#3.area of a triangle

base = float(input("base: "))
hight= float(input("height: "))

area = 0.5 * base *hight

print("area of triangle :", area)

Enter the base : 7
Enter the height : 3
The area of the triangle is: 10.5

In [7]:
#4.quadratic equation

import cmath  
# Input coefficients a, b, and c
a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))

# Calculate the discriminant
d = (b**2) - (4*a*c)

# Find two solutions (handling complex roots with cmath)
x = (-b - cmath.sqrt(d)) / (2*a)
y = (-b + cmath.sqrt(d)) / (2*a)


print('The solutions are {0} and {1}'.format(x, y))

The solutions are (-2.161187420807834+0j) and (-0.13881257919216577+0j)

In [8]:
#5.swap two variables

a = input("Enter  value  a: ")
b = input("Enter  value  b: ")

a, b = b, a

print("After swapping:")
print(a)
print(b)

After swapping:
23
5

In [10]:
#6.Generate a Random Number

import random

random= random.randint(1, 100)

print("Random number under 1 to 100:", random)

Random number under 1 to 100: 60

In [11]:
#7.convert kilometers to miles

km = float(input("Enter km: "))

conversio= 0.621371

mile = km * conversio

print(f"{km} kilometers is {mile} miles")

1.0 kilometers is equal to 0.621371 miles

In [13]:
#8.convert Celsius to Fahrenheit

cel = float(input("Enter Celsius: "))
fer = ( 9/5 * c ) + 32

print(f"{cel}C  is {fer}F")

45.0C  is 37.4F

In [14]:
#9.display calendar

import calendar

yy = int(input("Enter year: "))
mm = int(input("Enter month: "))

print(calendar.month(yy, mm))

   December 1998
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [21]:
#10.check if a Number is Positive, Negative or Zero

def cheak(num):
    if num > 0:
        print("Positive",num)
    elif num < 0:
        print("Negative",num)
    else:
        print("The number is Zero.")

number = int(input("Enter the number: "))


cheak(number)

Positive 20

In [22]:
#11.check if a Number is Odd or Even
n = int(input("Enter the number: "))
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [24]:
#12.check Leap Year

yr = int(input("Enter the year: "))
if (yr % 4 == 0 ) or (yr % 400 == 0):
    print("Leap Year.")
else:
    print("Not a Leap Year.")

Leap Year.

In [25]:
#13.check Prime Number

num = int(input("Enter number: "))
if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print("Not Prime number.",num)
            break
    else:
        print("Prime number.",num)
else:
    print("Not a Prime number.",num)

Not Prime number. 200

In [26]:
#14.print all Prime Numbers in an Interval

start = int(input("start of interval: "))
end = int(input("end of interval: "))

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                break
        else:
            print(num)

5
7
11
13
17
19

In [27]:
#15.Find the Factorial of a Number

def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)

num = int(input("number: "))
print(f"Factorial of {num} is {factorial(num)}.")

Factorial of 45 is 119622220865480194561963161495657715064383733760000000000.

In [ ]:
#16.display the Multiplication Table

num = int(input("Enter number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [28]:
#17.print the Fibonacci Sequence

n = int(input("Enter how many you want: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [29]:
#18.Check Armstrong Number
num = int(input("Enter a number: "))
order = len(str(num))
sum_of_digits = sum(int(digit) ** order for digit in str(num))

if num == sum_of_digits:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

50 is not an Armstrong number.

In [30]:
#19.find Armstrong Numbers in an Interval

start = int(input("start of interval: "))
end = int(input("end of interval: "))

for num in range(start, end + 1):
    order = len(str(num))
    if num == sum(int(digit) ** order for digit in str(num)):
        print(num)

2
3
4
5
6
7
8
9

In [31]:
#20.Find the Sum of Natural Numbers

n = int(input("Enter a number: "))
sum_n = n * (n + 1) // 2
print(f"Sum of first {n} natural numbers is {sum_n}.")

Sum of first 15 natural numbers is 120.

In [32]:
#21.Print Reverse of a String

string = input("Enter a string: ")
print(f"Reversed string is: {string[::-1]}")

Reversed string is: gnidoc evol I

In [ ]:
#22.Print Sum of First Ten Natural Numbers

print(f"Sum of first 10 natural numbers is {sum(range(1, 11))}.")

Sum of first 10 natural numbers is 55.

In [34]:
#23.7Find LCM

import math
def LCM(a, b):
    return abs(a*b) // math.gcd(a, b)
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print(f"LCM of {x} and {y} is {LCM(x, y)}.")

LCM of 62 and 102 is 3162.

In [35]:
#24.Find HCF

import math  # Import the math module
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print(f"HCF of {x} and {y} is {math.gcd(x, y)}.")

HCF of 20 and 45 is 5.

In [37]:
#25.Convert Decimal to Binary, Octal, and Hexadecimal

num = int(input("Enter a decimal number: "))
print(f"Binary: {bin(num)[2:]}")
print(f"Octal: {oct(num)[2:]}")
print(f"Hexadecimal: {hex(num)[2:]}")

Binary: 110100
Octal: 64
Hexadecimal: 34

In [38]:
#26.Find ASCII value of a Character

char = input("Enter a character: ")
print(f"ASCII value of '{char}' is {ord(char)}.")

ASCII value of 'z' is 122.

In [39]:
#27.Make a Simple Calculator

def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    return a / b if y != 0 else 'Undefined (cannot divide by zero)'

x = float(input("Enter first number: "))
y = float(input("Enter second number: "))
operation = input("Choose operation (+, -, *, /): ")

if operation == '+':
    print(f"Result: {add(a, b)}")
elif operation == '-':
    print(f"Result: {subtract(a, b)}")
elif operation == '*':
    print(f"Result: {multiply(a, b)}")
elif operation == '/':
    print(f"Result: {divide(a, b)}")
else:
    print("Invalid operation!")

Result: 4895

In [42]:
#28.Display Fibonacci Sequence Using Recursion

def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

n_terms = int(input("Number of terms: "))
for i in range(n_terms):
    print(fibonacci(i), end=' ')

0 1 1 2 3 5 8 13 21

In [ ]:
#29.Find Factorial of a Number Using Recursion

def factorial(n):
    if n == 1 or n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("Enter a number: "))
print(f"Factorial of {num} is {factorial(num)}.")

Enter a number: 17
Factorial of 17 is 355687428096000.

In [44]:
#30.Calculate the Power of a Number

def power(base, pow):
    return base ** pow

base = int(input("Enter base: "))
pow = int(input("Enter exponent: "))
print(f"{base} {pow} is {power(base, pow)}.")

5 5 is 3125.

In [46]:
#31.Add Two Matrices

matrix1 = [[9, 7], [1, 3]]
matrix2 = [[5, 1], [7, 9]]

result = [[matrix1[i][j] + matrix2[i][j] for j in range(len(matrix1[0]))] for i in range(len(matrix1))]

for row in result:
    print(row)

[14, 8]
[8, 12]

In [ ]:
#32.Multiply Two Matrices

matrix1 = [[3, 2], [3, 4]]
matrix2 = [[5, 7], [7, 8]]

result = [[0, 0], [0, 0]]


for i in range(len(matrix1)):
    for j in range(len(matrix2[0])):
        for k in range(len(matrix2)):
            result[i][j] += matrix1[i][k] * matrix2[k][j]

for row in result:
    print(row)

[29, 37]
[43, 53]

In [ ]:
#33.Transpose a Matrix

matrix = [[1, 5, 3], [4, 5, 3], [7, 8, 9]]
transpose = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]

for row in transpose:
    print(row)

[1, 4, 7]
[5, 5, 8]
[3, 3, 9]

In [47]:
#34.Sort Words in Alphabetic Order

sentence = input("sentence: ")
words = sentence.split()
words.sort()
print("Sorted words:", " ".join(words))

Sorted words: a animal cow domestic is

In [49]:
#35.Remove Punctuation From a String

import string

text = input("Enter a string: ")
cleaned_text = text.translate(str.maketrans("", "", string.punctuation))
print("without punctuation:", cleaned_text)

without punctuation: string with punchuation

In [50]:
#36.Convert List to String

lst = ['hello', 'world']
result = " ".join(lst)
print(result)

hello world

In [ ]:
#37.Convert Int to String

num = 739
print("String representation of number:", num)

String representation of number: 739

In [51]:
#38.Concatenate Two Strings

str1 = "Daffodill"
str2 = "University"
result = str1 + str2
print(result)

DaffodillUniversity

In [53]:
#39.Generate a Random String

import random
import string


length = int(input("Enter the length of the string: "))
result = ''.join(random.choice(string.ascii_letters + string.digits) for _ in range(length))
print(f"Random string: {result}")

Random string: QrW4d

In [56]:
#40.Check Whether a Given String is a Palindrome or Not

a = input("Enter string: ")

# Normalize the string: convert to lowercase and remove spaces
b = a.replace(" ", "").lower()

# Check if the normalized string is a palindrome
if b == b[::-1]:
    print(f"{a} string is a palindrome.")
else:
    print(f"{a} string is not a palindrome.")

Phython string is not a palindrome.

In [57]:
#41Convert the String into Lowercase to Uppercase and Vice Versa

string = input("Enter a string: ")
swapped = string.swapcase()
print(f"Swapped case: {swapped}")

Swapped case: pHYTHON iS A hIGH lEVEL lANGUAGE

In [58]:
#42.Find the Occurrence of a Substring Within a String

string = input("main string: ")
substring = input("substring to find: ")
count = string.count(substring)
print(f"'{substring}' occurs {count} times in the string.")

'string' occurs 2 times in the string.

In [59]:
#43.Append Element in the List

lst = [2,4,6,8,10,12]
a = int(input("element to append: "))
lst.append(a)
print("Updated list:", lst)

Updated list: [2, 4, 6, 8, 10, 12, 14]

In [60]:
#44.Compare Two Lists

list1 = [1,3,5]
list2 = [2, 4, 6]

if list1 == list2:
    print("Both lists are equal.")
else:
    print("Lists are not equal.")

Lists are not equal.

In [61]:
#45.Convert List to Dictionary

a = ['cat', 'cow', 'milk',10]
b = ['meat', 'goat,cow']

dictionary = dict(zip(a,b))#mapping the keys and values in the dictionary
print("Converted dictionary:", dictionary)

Converted dictionary: {'cat': 'meat', 'cow': 'goat,cow'}

In [62]:
#46.Remove an Element from a List

lst = [1, 3, 5,7 ,9]
rem = int(input("Enter element to remove: "))
lst.remove(rem)
print("Updated list:", lst)

Updated list: [1, 3, 7, 9]

In [63]:
#47.Add Two Lists

list1 = [1,3,5,7,9 ]
list2 = [11,13,15,17,19]

list3 = list1 + list2
print("Combined list:",list3)

Combined list: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [64]:
#48.Convert List to Set

list = [1, 3,   5, 7,9]
result = set(list)
print("Converted set:", result)

Converted set: {1, 3, 5, 7, 9}

In [65]:
#49.Convert List to String

list = ['Mew', 'moo', 'sparkle' ]
result = " ".join(list)
print("Converted string:", result)

Converted string: Mew moo sparkle

In [ ]:
#remove duplicates from a list

a = [1, 2, 2, 3, 4, 4, 5, 5, 6]
b = list(set(a))  # Convert to set to remove duplicates
print("List after removing duplicates:", b)

List after removing duplicates: [1, 2, 3, 4, 5, 6]